### In-Game Purchase Data Analysis

#### Background 

In this homework, you are ask to deal with a task of analyzing an "in-game purchase" dataset. In this game, players are able to to purchase optional items that enhance their playing experience. Now your task is to generate a report that breaks down the game's purchasing data into meaningful insights.

-----

#### Observable Trends

* There are 1163 active players. The vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.79%) with secondary groups falling between 15-19 (18.58%) and 25-29 (13.37%). 

* The age group that spends the most money is the 20-24 with 1,114.06 dollars as total purchase value and an average purchase of 4.32. In contrast, the demographic group that has the highest average purchase is the 35-39 with 4.76 and a total purchase value of 147.67. 
-----

In [3]:
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
a=len(purchase_data.drop_duplicates(subset=['SN']).index)
pd.DataFrame({'Total players':[a]})

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Display the summary data frame

In [4]:
#calculate 'Number of Unique Items'

x = len(purchase_data.drop_duplicates(subset=['Item ID']).index)

#calculate 'Average Price'

sum_price=0.0

for i in range(len(purchase_data.index)):
    sum_price += purchase_data['Price'][i]
avg = sum_price / len(purchase_data.index)
y = round(avg,2)

#calculate 'Number of Purchases'

z = len(purchase_data.index)

#calculate 'Total Revenue'

a = round(avg*z,2)

pd.DataFrame({'Number of Unique Items':[x],
              'Average Price':['$'+str(y)],
              'Number of Purchases':[z],
              'Total Revenue':['$'+str(a)]})

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [45]:
#calculate 'Percentage of Male Players'

Male=[]
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Male':
        Male.append(purchase_data['SN'][i])
        
a=len(list(set(Male)))  #Male_count


#calculate 'Percentage of Female Players'

Female=[]
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Female':
        Female.append(purchase_data['SN'][i])

b=len(list(set(Female)))  #Female_count

#calculate 'Percentage of Other / Non-Disclosed Players'

Other=[]
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Other / Non-Disclosed':
        Other.append(purchase_data['SN'][i])
        
c=len(list(set(Other)))  #Other_count   

p_male = round(a/(a+b+c)*100,2)
p_female = round(b/(a+b+c)*100,2)
p_other = round(c/(a+b+c)*100,2)

test = [(p_male,a),(p_female,b),(p_other,c)]

pd.DataFrame(test,columns = ['Percentage of Players','Total Count'],index = ['Male','Female','Other / Non-Disclosed'])

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain below values by gender
  * Purchase Count
  * Average Purchase Price  
  * Total Purchase Value
  * Average Purchase Total per Person by Gender
* Create a summary data frame to hold the results
* Display the summary data frame

In [47]:
#calculate 'Percentage of Male Players'

Male=[]
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Male':
        Male.append(purchase_data['SN'][i])
        
Male_count=len(list(set(Male)))  #Male_count


#calculate 'Percentage of Female Players'

Female=[]
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Female':
        Female.append(purchase_data['SN'][i])

Female_count=len(list(set(Female)))  #Female_count

#calculate 'Percentage of Other / Non-Disclosed Players'

Other=[]
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Other / Non-Disclosed':
        Other.append(purchase_data['SN'][i])
        
Other_count=len(list(set(Other)))  #Other_count 


b=0
temp_b=0
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Female':
        temp_b+=purchase_data['Price'][i]
        b+=1
female_total_purchase = round(temp_b,2)
female_avg_purchase_price = round(temp_b/b,5)
x = round(female_total_purchase/Female_count,2)


a=0
temp_a=0
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Male':
        temp_a+=purchase_data['Price'][i]
        a+=1
male_total_purchase = round(temp_a,2)
male_avg_purchase_price = round(temp_a/a,5)
y = round(male_total_purchase/Male_count,2)

                 
c=0
temp_c=0
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Other / Non-Disclosed':
        temp_c+=purchase_data['Price'][i]
        c+=1
other_total_purchase = round(temp_c,2)
other_avg_purchase_price = round(temp_c/c,5)
z = round(other_total_purchase/Other_count,2)

#------------------------------------------------------------------------------

test = [(b,female_avg_purchase_price,female_total_purchase,'$'+str(x)),
        (a,male_avg_purchase_price,male_total_purchase,'$'+str(y)),
        (c,other_avg_purchase_price,other_total_purchase,'$'+str(z))]

pd.DataFrame(test,columns = ['Purchase Count','Average Purchase Price','Total Purchase Value','Avg Purchase Total per Person'],
             index = ['Female','Male','Other / Non-Disclosed'])

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Female,113,3.20301,361.94,$4.47
Male,652,3.01785,1967.64,$4.07
Other / Non-Disclosed,15,3.34600,50.19,$4.56

## Age Demographics

* Categorize players using the age groups. Hint: use pd.cut()
  * each group is for 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* round the percentage column to two decimal points
* Display Age Demographics Table

In [37]:
ages = []
name = []

for i in range(len(purchase_data)):
    #if 人名不在name裡
    if purchase_data['SN'][i] not in name:
        ages.append(purchase_data['Age'][i])
        name.append(purchase_data['SN'][i])
      

bins = [0,9,14,19,24,29,34,39]

category = pd.cut(ages,bins)

num_interval=[0,0,0,0,0,0,0,0]

for i in range(len(category)):
    if str(category[i]) == '(0, 9]':
        num_interval[0]+=1
    elif str(category[i]) == '(9, 14]':
        num_interval[1]+=1
    elif str(category[i]) == '(14, 19]':
        num_interval[2]+=1
    elif str(category[i]) == '(19, 24]':
        num_interval[3]+=1
    elif str(category[i]) == '(24, 29]':
        num_interval[4]+=1
    elif str(category[i]) == '(29, 34]':
        num_interval[5]+=1
    elif str(category[i]) == '(34, 39]':
        num_interval[6]+=1
    else:
        num_interval[7]+=1

a = len(category)

#-----------------------------------------------------------------------------------

data = [(round(num_interval[0]/a*100,2),num_interval[0]),
        (round(num_interval[1]/a*100,2),num_interval[1]),
        (round(num_interval[2]/a*100,2),num_interval[2]),
        (round(num_interval[3]/a*100,2),num_interval[3]),
        (round(num_interval[4]/a*100,2),num_interval[4]),
        (round(num_interval[5]/a*100,2),num_interval[5]),
        (round(num_interval[6]/a*100,2),num_interval[6]),
        (round(num_interval[7]/a*100,2),num_interval[7])]
pd.DataFrame(data,columns = ['Percentage of Players','Total Count'],
             index = [' ','10-14','15-19','20-24','25-29','30-34','35-39','40+'])

       Percentage of Players  Total Count
                        2.95           17
10-14                   3.82           22
15-19                  18.58          107
20-24                  44.79          258
25-29                  13.37           77
30-34                   9.03           52
35-39                   5.38           31
40+                     2.08           12

## Purchasing Analysis (Age)

* The below each broken into groups of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group
* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Display the summary data frame

In [3]:
ages = []

for i in range(len(purchase_data)):
    ages.append(purchase_data['Age'][i])
        
bins = [0,9,14,19,24,29,34,39]

category = pd.cut(ages,bins)

num_interval = [0,0,0,0,0,0,0,0]

total_value = [0,0,0,0,0,0,0,0]

for i in range(len(category)):
    if str(category[i]) == '(0, 9]':
        total_value[0]+=purchase_data['Price'][i]
        num_interval[0]+=1
    elif str(category[i]) == '(9, 14]':
        total_value[1]+=purchase_data['Price'][i]
        num_interval[1]+=1
    elif str(category[i]) == '(14, 19]':
        total_value[2]+=purchase_data['Price'][i]
        num_interval[2]+=1
    elif str(category[i]) == '(19, 24]':
        total_value[3]+=purchase_data['Price'][i]
        num_interval[3]+=1
    elif str(category[i]) == '(24, 29]':
        total_value[4]+=purchase_data['Price'][i]
        num_interval[4]+=1
    elif str(category[i]) == '(29, 34]':
        total_value[5]+=purchase_data['Price'][i]
        num_interval[5]+=1
    elif str(category[i]) == '(34, 39]':
        total_value[6]+=purchase_data['Price'][i]
        num_interval[6]+=1
    else:
        total_value[7]+=purchase_data['Price'][i]
        num_interval[7]+=1

name = []
ages_unrepeat = []

for i in range(len(purchase_data)):
    #if 人名不在name裡
    if purchase_data['SN'][i] not in name:
        ages_unrepeat.append(purchase_data['Age'][i])
        name.append(purchase_data['SN'][i])
        
bins = [0,9,14,19,24,29,34,39]

category = pd.cut(ages_unrepeat,bins)

num_interval_unrepeat = [0,0,0,0,0,0,0,0]

for i in range(len(category)):
    if str(category[i]) == '(0, 9]':
        num_interval_unrepeat[0]+=1
    elif str(category[i]) == '(9, 14]':
        num_interval_unrepeat[1]+=1
    elif str(category[i]) == '(14, 19]':
        num_interval_unrepeat[2]+=1
    elif str(category[i]) == '(19, 24]':
        num_interval_unrepeat[3]+=1
    elif str(category[i]) == '(24, 29]':
        num_interval_unrepeat[4]+=1
    elif str(category[i]) == '(29, 34]':
        num_interval_unrepeat[5]+=1
    elif str(category[i]) == '(34, 39]':
        num_interval_unrepeat[6]+=1
    else:
        num_interval_unrepeat[7]+=1
      

data = [(num_interval[0],'$'+str(round(total_value[0]/num_interval[0],2)),'$'+str(round(total_value[0],2)),'$'+str(round(total_value[0]/num_interval_unrepeat[0],2))),
        (num_interval[1],'$'+str(round(total_value[1]/num_interval[1],2)),'$'+str(round(total_value[1],2)),'$'+str(round(total_value[1]/num_interval_unrepeat[1],2))),
        (num_interval[2],'$'+str(round(total_value[2]/num_interval[2],2)),'$'+str(round(total_value[2],2)),'$'+str(round(total_value[2]/num_interval_unrepeat[2],2))),
        (num_interval[3],'$'+str(round(total_value[3]/num_interval[3],2)),'$'+str(round(total_value[3],2)),'$'+str(round(total_value[3]/num_interval_unrepeat[3],2))),
        (num_interval[4],'$'+str(round(total_value[4]/num_interval[4],2)),'$'+str(round(total_value[4],2)),'$'+str(round(total_value[4]/num_interval_unrepeat[4],2))),
        (num_interval[5],'$'+str(round(total_value[5]/num_interval[5],2)),'$'+str(round(total_value[5],2)),'$'+str(round(total_value[5]/num_interval_unrepeat[5],2))),
        (num_interval[6],'$'+str(round(total_value[6]/num_interval[6],2)),'$'+str(round(total_value[6],2)),'$'+str(round(total_value[6]/num_interval_unrepeat[6],2))),
        (num_interval[7],'$'+str(round(total_value[7]/num_interval[7],2)),'$'+str(round(total_value[7],2)),'$'+str(round(total_value[7]/num_interval_unrepeat[7],2)))]
pd.DataFrame(data,
             columns = ['Purchase Count','Average Purchase Price','Total Purchase Value','Average Purchase Total per Person'],
             index = [' ','10-14','15-19','20-24','25-29','30-34','35-39','40+'])

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Identify the the top 5 spenders in the game by total purchase value (top-5 players with highest total purchase value), then list (in a table):
  * SN(screen name)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Display a preview of the summary data frame

In [70]:
total_value = purchase_data.groupby('SN').sum()

value_sort = []

times = purchase_data['SN'].value_counts()

print(times.loc['Lisosia93'])
                    
for i in range(len(total_value)):
    value_sort.append(total_value['Price'][i])
value_sort.sort(reverse=True)
print(total_value)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 11)

In [4]:
t=purchase_data.groupby('SN').sum().reset_index()
times = purchase_data['SN'].value_counts()
tr = times.rename_axis('SN').reset_index(name='Purchase Count')
test=pd.merge(tr,t)
test.drop(['Purchase ID', 'Age' , 'Item ID'], axis=1, inplace=True)
test.sort_values("Price",ascending=False)
tx = pd.Series([test['Price'][0]/test['Purchase Count']])
print(test)

                 SN  Purchase Count  Price
0         Lisosia93               5  18.96
1       Idastidru52               4  15.45
2            Iral74               4  13.62
3            Asur53               3   7.44
4          Hiaral50               3   4.19
..              ...             ...    ...
571  Haedairiadru51               1   3.09
572       Iarallo65               1   1.75
573       Lisosia66               1   3.65
574        Ilimya66               1   4.23
575      Quilassa66               1   4.23

[576 rows x 3 columns]

In [128]:
t=purchase_data.groupby('SN').sum().sort_values("Price",ascending=False).reset_index()
print(t.head(5))
for i in range(len(t)):
    if(t.iloc[i]['SN'] == 'Lisosia93'):
        print(t.iloc[i]['Price'])
name = []


times = purchase_data['SN'].value_counts()

data = [(times[t.iloc[0]['SN']],'$'+str(round(total_value.loc[times.index[0]]['Price']/times[0],2)),'$'+str(round(total_value.loc[times.index[0]]['Price'],2))),
       (times[t.iloc[0]['SN']],'$'+str(round(total_value.loc[times.index[1]]['Price']/times[1],2)),'$'+str(round(total_value.loc[times.index[1]]['Price'],2))),
       (times[t.iloc[0]['SN']],'$'+str(round(total_value.loc[times.index[2]]['Price']/times[2],2)),'$'+str(round(total_value.loc[times.index[2]]['Price'],2))),
       (times[t.iloc[0]['SN']],'$'+str(round(total_value.loc[times.index[3]]['Price']/times[3],2)),'$'+str(round(total_value.loc[times.index[3]]['Price'],2))),
       (times[t.iloc[0]['SN']],'$'+str(round(total_value.loc[times.index[4]]['Price']/times[4],2)),'$'+str(round(total_value.loc[times.index[0]]['Price'],2)))]
pd.DataFrame(data,columns = ['Purchase Count','Average Purchase Price','Total Purchase Value'],
             index = [t.iloc[0]['SN'],t.iloc[1]['SN'],t.iloc[2]['SN'],t.iloc[3]['SN'],t.iloc[4]['SN']])

            SN  Purchase ID  Age  Item ID  Price
0    Lisosia93         1630  125      451  18.96
1  Idastidru52         1999   96      527  15.45
2   Chamjask73         1306   66      339  13.83
3       Iral74         2285   84      518  13.62
4  Iskadarya95          713   60      321  13.10
18.96
5

KeyError: 'Lisosia93'

In [100]:
total_value = purchase_data.groupby('SN').sum().reset_index()
print(total_value.iloc[0]['SN'])

value_sort = []

times = purchase_data['SN'].value_counts()

for i in range(len(total_value)):
    value_sort.append(total_value['Price'][i])
    
value_sort.sort(reverse=True)

name = []

for i in range(len(total_value)):
    if total_value['Price'][i] == value_sort[0]:
        name.append(total_value['SN'][i])
    

    

data = [(times[0],'$'+str(round(total_value.loc[times.index[0]]['Price']/times[0],2)),'$'+str(round(total_value.loc[times.index[0]]['Price'],2))),
       (times[1],'$'+str(round(total_value.loc[times.index[1]]['Price']/times[1],2)),'$'+str(round(total_value.loc[times.index[1]]['Price'],2))),
       (times[2],'$'+str(round(total_value.loc[times.index[2]]['Price']/times[2],2)),'$'+str(round(total_value.loc[times.index[2]]['Price'],2))),
       (times[3],'$'+str(round(total_value.loc[times.index[3]]['Price']/times[3],2)),'$'+str(round(total_value.loc[times.index[3]]['Price'],2))),
       (times[4],'$'+str(round(total_value.loc[times.index[4]]['Price']/times[4],2)),'$'+str(round(total_value.loc[times.index[0]]['Price'],2)))]
pd.DataFrame(data,columns = ['Purchase Count','Average Purchase Price','Total Purchase Value'],
             index = [times.index[0],times.index[1],times.index[2],times.index[3],times.index[4]])

"\nvalue_sort = []\n\ntimes = purchase_data['SN'].value_counts()\n\nfor i in range(len(total_value)):\n    value_sort.append(total_value['Price'][i])\n    \nvalue_sort.sort(reverse=True)\n\nname = []\n\nfor i in range(len(total_value)):\n    if total_value['Price'][i] == value_sort[0]:\n        name.append(total_value['SN'][i])\n    \n\n    \n\ndata = [(times[0],'$'+str(round(total_value.loc[times.index[0]]['Price']/times[0],2)),'$'+str(round(total_value.loc[times.index[0]]['Price'],2))),\n       (times[1],'$'+str(round(total_value.loc[times.index[1]]['Price']/times[1],2)),'$'+str(round(total_value.loc[times.index[1]]['Price'],2))),\n       (times[2],'$'+str(round(total_value.loc[times.index[2]]['Price']/times[2],2)),'$'+str(round(total_value.loc[times.index[2]]['Price'],2))),\n       (times[3],'$'+str(round(total_value.loc[times.index[3]]['Price']/times[3],2)),'$'+str(round(total_value.loc[times.index[3]]['Price'],2))),\n       (times[4],'$'+str(round(total_value.loc[times.index[4]]['Price']/times[4],2)),'$'+str(round(total_value.loc[times.index[0]]['Price'],2)))]\npd.DataFrame(data,columns = ['Purchase Count','Average Purchase Price','Total Purchase Value'],\n             index = [times.index[0],times.index[1],times.index[2],times.index[3],times.index[4]])\n\n"

## Most Popular Items

* Top 5 most popular items by purchase count:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Display a preview of the summary data frame

## Most Profitable Items

* Top 5 most profitable items by total purchase value:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Sort the above table by total purchase value in descending order
* Display a preview of the data frame