### In-Game Purchase Data Analysis

#### Background 

In this homework, you are ask to deal with a task of analyzing an "in-game purchase" dataset. In this game, players are able to to purchase optional items that enhance their playing experience. Now your task is to generate a report that breaks down the game's purchasing data into meaningful insights.

-----

#### Observable Trends

* There are 1163 active players. The vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.79%) with secondary groups falling between 15-19 (18.58%) and 25-29 (13.37%). 

* The age group that spends the most money is the 20-24 with 1,114.06 dollars as total purchase value and an average purchase of 4.32. In contrast, the demographic group that has the highest average purchase is the 35-39 with 4.76 and a total purchase value of 147.67. 
-----

In [1]:
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [49]:
a=len(purchase_data.drop_duplicates(subset=['SN']).index)
pd.DataFrame({'Total players':[a]})

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Display the summary data frame

In [36]:
#calculate 'Number of Unique Items'

x = len(purchase_data.drop_duplicates(subset=['Item ID']).index)

#calculate 'Average Price'

sum_price=0.0

for i in range(len(purchase_data.index)):
    sum_price += purchase_data['Price'][i]
avg = sum_price / len(purchase_data.index)
y = round(avg,2)

#calculate 'Number of Purchases'

z = len(purchase_data.index)

#calculate 'Total Revenue'

a = round(avg*z,2)

pd.DataFrame({'Number of Unique Items':[x],
              'Average Price':['$'+str(y)],
              'Number of Purchases':[z],
              'Total Revenue':['$'+str(a)]})

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [45]:
#calculate 'Percentage of Male Players'

Male=[]
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Male':
        Male.append(purchase_data['SN'][i])
        
a=len(list(set(Male)))  #Male_count


#calculate 'Percentage of Female Players'

Female=[]
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Female':
        Female.append(purchase_data['SN'][i])

b=len(list(set(Female)))  #Female_count

#calculate 'Percentage of Other / Non-Disclosed Players'

Other=[]
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Other / Non-Disclosed':
        Other.append(purchase_data['SN'][i])
        
c=len(list(set(Other)))  #Other_count   

p_male = round(a/(a+b+c)*100,2)
p_female = round(b/(a+b+c)*100,2)
p_other = round(c/(a+b+c)*100,2)

test = [(p_male,a),(p_female,b),(p_other,c)]

pd.DataFrame(test,columns = ['Percentage of Players','Total Count'],index = ['Male','Female','Other / Non-Disclosed'])

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain below values by gender
  * Purchase Count
  * Average Purchase Price  
  * Total Purchase Value
  * Average Purchase Total per Person by Gender
* Create a summary data frame to hold the results
* Display the summary data frame

In [47]:
#calculate 'Percentage of Male Players'

Male=[]
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Male':
        Male.append(purchase_data['SN'][i])
        
Male_count=len(list(set(Male)))  #Male_count


#calculate 'Percentage of Female Players'

Female=[]
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Female':
        Female.append(purchase_data['SN'][i])

Female_count=len(list(set(Female)))  #Female_count

#calculate 'Percentage of Other / Non-Disclosed Players'

Other=[]
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Other / Non-Disclosed':
        Other.append(purchase_data['SN'][i])
        
Other_count=len(list(set(Other)))  #Other_count 

#------------------------------------------------------------------------------

b=0
temp_b=0
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Female':
        temp_b+=purchase_data['Price'][i]
        b+=1
female_total_purchase = round(temp_b,2)
female_avg_purchase_price = round(temp_b/b,5)
x = round(female_total_purchase/Female_count,2)


a=0
temp_a=0
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Male':
        temp_a+=purchase_data['Price'][i]
        a+=1
male_total_purchase = round(temp_a,2)
male_avg_purchase_price = round(temp_a/a,5)
y = round(male_total_purchase/Male_count,2)

                 
c=0
temp_c=0
for i in range(len(purchase_data.index)):
    if purchase_data['Gender'][i] == 'Other / Non-Disclosed':
        temp_c+=purchase_data['Price'][i]
        c+=1
other_total_purchase = round(temp_c,2)
other_avg_purchase_price = round(temp_c/c,5)
z = round(other_total_purchase/Other_count,2)


test = [(b,female_avg_purchase_price,female_total_purchase,'$'+str(x)),
        (a,male_avg_purchase_price,male_total_purchase,'$'+str(y)),
        (c,other_avg_purchase_price,other_total_purchase,'$'+str(z))]

pd.DataFrame(test,columns = ['Purchase Count','Average Purchase Price','Total Purchase Value','Avg Purchase Total per Person'],
             index = ['Female','Male','Other / Non-Disclosed'])

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Female,113,3.20301,361.94,$4.47
Male,652,3.01785,1967.64,$4.07
Other / Non-Disclosed,15,3.34600,50.19,$4.56

## Age Demographics

* Categorize players using the age groups. Hint: use pd.cut()
  * each group is for 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* round the percentage column to two decimal points
* Display Age Demographics Table

## Purchasing Analysis (Age)

* The below each broken into groups of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group
* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Display the summary data frame

## Top Spenders

* Identify the the top 5 spenders in the game by total purchase value (top-5 players with highest total purchase value), then list (in a table):
  * SN(screen name)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Display a preview of the summary data frame

## Most Popular Items

* Top 5 most popular items by purchase count:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Display a preview of the summary data frame

## Most Profitable Items

* Top 5 most profitable items by total purchase value:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Sort the above table by total purchase value in descending order
* Display a preview of the data frame